/* ベーススタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #4CAF50; /* メインタイトルの文字色を緑に */
    margin-top: 20px;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 推薦曲取得ボタンのスタイル */
button#getRecommendations {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* ボタン背景色 */
    color: #fff; /* ボタン文字色 */
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

button#getRecommendations:hover {
    background-color: #45a049; /* ボタンのホバー時の背景色 */
}

h2 {
    color: #333; /* 推薦結果タイトルの文字色 */
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9; /* 推薦曲アイテムの背景色 */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li a {
    color: #4CAF50; /* リンク文字色を緑に */
    text-decoration: none;
}

li a:hover {
    text-decoration: underline; /* リンクホバー時に下線 */
}

#error-message {
    color: red; /* エラーメッセージの文字色 */
    font-size: 16px;
    margin-top: 10px;
}

.hidden {
    display: none;
}
